// Specific CSS for your home-page
.screen-container {
  display:flexbox;
  justify-content: center;
  background: linear-gradient(lightgray, rgba(lightgray, 0.1))
}

.bannerlogo {
  margin-top: 50px;
  margin-bottom: 50px;
}

.trend-items {
  display: flexbox;
  justify-content: center;
}

.trend-items h2 {
  text-align: center;
}
