// Specific CSS for your home-page
.screen-container {
  justify-content: center;
  //background: linear-gradient(lightgray, rgba(lightgray, 0.1))
  background-image: linear-gradient(rgba(94, 89, 89, 0.05), rgba(209, 205, 205, 0.3)), url(lichking.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-title {
  color: bisque;
  text-shadow: 2px 2px black;
}

.banner-description {
  color: white;
}

.devise-container {
  justify-content: center;
  //background: linear-gradient(lightgray, rgba(lightgray, 0.1))
  background-image: linear-gradient(rgba(150,0,0,0.1),rgba(150,0,0,0.1)), url(https://res.cloudinary.com/dzjwppn5k/image/upload/v1668649308/green-ambient-bg_coebud.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

//style="background-image: linear-gradient(rgba(150,0,0,0.1),rgba(150,0,0,0.1)), url(https://res.cloudinary.com/dzjwppn5k/image/upload/v1668649308/green-ambient-bg_coebud.jpg);width: 100vw; height: 100vh; background-size: fill; opacity: 0.5"
.bannerlogo {
  margin-top: 50px;
  margin-bottom: 50px;
}

.trend-items {
  margin-top: 50px;
  display: flexbox;
  justify-content: center;
}

.trend-items h2 {
  text-align: center;
  padding-bottom: 20px;
}

.card-background {
  // background-image: url('itunes.jpg');
  width: 250px;
  height: 200px;
  // background-size: contain;
  // background-repeat: no-repeat;
  position: relative;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .category {
    position: absolute;
    bottom: 1px;
    position: absolute;
    width: 130px;
    left: 62.5px;
    text-align: center;
    color:  whitesmoke;
    text-shadow: 1px 1px black;
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
  }

  .price {
    position: absolute;
    bottom: 14px;
    color: white;
    position: absolute;
    width: 125px;
    height: 0px;
    left: 115.5px;
    text-align: right;
  }
}

.categorylite {
  text-align: center;
  color:  whitesmoke;
  text-shadow: 1px 1px black;
  background-color: rgba(0,0,0,0.2);
  border-radius: 5px;
}

.btm-screen {
  // background-color: #007aff;
  background: linear-gradient(235.63deg, rgb(84, 155, 239) 15.78%, rgb(91, 104, 223) 84.1%);;
  height: 380px;
  margin-top: 100px;
}

.test {
  text-align: center;
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.blue-banner {

  h2 {
    text-align: center;
    color: white;
  }

  p {
    text-align: center;
    color: white;
  }
}

.icon-container {
  border: 1px solid black;
  padding: 5px;
  border-radius: 20px;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  transition: transform .2s;
}

.icon-container:hover {
  transform: scale(1.2);
}

.icon-name {
  text-align: center;
  display: block;
}

.icon-img {
  height: 50px;
  width: 50px;
  display: block;
  margin: auto;
}

.content-container {
  position: relative;
  margin-top: 70px;

  h2 {
    margin-top: 120px;
  }

  img {
    position: absolute;
    top: 0px;
    left: 40%;
  }
}
