<div class="container-fluid">
  <h6>List of products table</h6>
  </div></div>
  <div class="container for Product, Status, Price">
      <a class="All Products" href="/products/:id">
      <span class="All">All</span></a>
      <a class="Status" href="/products/:id/status">
      <span class="Status">Status</span></a>
  </div>
    <div class="flexbox">
      <table>
        <thead>
          <tr>
            <th colspan="5">ID</th>
            <th colspan="5">Product</th>
            <th colspan="5">Status</th>
            <th colspan="5">Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td colspan="5">1</td>
            <td colspan="5">iTunes Gift Card USD 100</td>
            <td colspan="5">Completed</td>
            <td colspan="5">SGD 140.66</td>
          </tr>

        <tr>
          <td colspan="5">2</td>
          <td colspan="5">iTunes Gift Card USD 50</td>
          <td colspan="5">Pending</td>
          <td colspan="5">SGD 71.75</td>
        </tr>

        <tr>
          <td colspan="5">3</td>
          <td colspan="5">iTunes Gift Card USD 25</td>
          <td colspan="5">Pending</td>
          <td colspan="5">SGD 31.77</td>
        </tr>

        <tr>
          <td colspan="5">4</td>
          <td colspan="5">iTunes Gift Card USD 25</td>
          <td colspan="5">Pending</td>
          <td colspan="5">SGD 31.77</td>
        </tr>

        <tr>
          <td colspan="5">5</td>
          <td colspan="5">iTunes Gift Card USD 10</td>
          <td colspan="5">Pending</td>
          <td colspan="5">SGD 14.76</td>
        </tr>

        <tr>
          <td colspan="5">6</td>
          <td colspan="5">iTunes Gift Card USD 10</td>
          <td colspan="5">Pending</td>
          <td colspan="5">SGD 14.76</td>
        </tr>

      </tbody>
      </table>
    <br><br>
    <%= link_to "Back", products_path, class: "btn btn-primary" %>
   </div>
  </div>
