// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "uniquebtn";

h4 {
  margin-top: -16.5px;
}

p {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
}
