<div class="screen-container">

  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8">

        <!-- Left content -->
        <div>
          <h1><strong>The Lich King returns!</strong></h1>
          <p>WOW Classic Gold</p>
          <a href="#" type="button" class="btn btn-outline-secondary">Buy now</a>
        </div>

      </div>
      <div class="col-md-4">

        <!-- Right content -->
        <%= image_tag 'wowlogo.png', height: 300, :class => "bannerlogo" %>

      </div>
    </div>
  </div>
</div>
<div class="trend-items">
  <h2>Trending Items</h2>
  <ol>
    <% @products.each do |product| %>
      <li class=""><%= link_to product.name, product %></li>
    <% end %>
  </ol>
</div>
