<div class="container">
  <div class="row justify-content-center">
    <div class="container">
      <div class="row">

        <div class="col-12 col-lg-8 p-3">
          <div class="d-flex justify-content-between shadow-lg p-3 mb-5 bg-white rounded">
            <div class="align-self-center p-2">
              <%= image_tag("itunes.jpg", :class => "rounded-3") %>
            </div>
            <div class="flex-grow-1 p-2">
              <ul class="list-group list-group-flush">

                <li class="list-group-item">
                  <h1><%= @product.name %></h1>
                </li>

                <li class="list-group-item">
                  <div class="d-flex justify-content-between">
                    <div>100% (55 sold)</div>
                    <div>Other sellers</div>
                  </div>
                </li>

                <li class="list-group-item bg-light">
                  <div class="d-flex justify-content-between">
                    <div class="align-self-center">Seller Icon</div>
                    <button type="button" class="btn btn-outline-success">Chat</button>
                  </div>
                </li>

                <li class="list-group-item">
                  <div class="d-flex justify-content-between">
                    <div>Offer ID</div>
                    <div>G1655647021942AF</div>
                  </div>
                </li>

                <li class="list-group-item">
                  <div class="d-flex justify-content-between">
                    <div>Can't activate in</div>
                    <div>Singapore</div>
                    <div>Check other countries</div>
                  </div>
                </li>

                <li class="list-group-item">
                  <div class="d-flex justify-content-between">
                    <div>Delivery Method</div>
                    <div>Auto-delivery</div>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-4 p-3">
          <ul class="list-group shadow-lg p-3 mb-5 bg-white rounded">

            <li class="list-group-item bg-success text-white">
              <div class="d-flex justify-content-between">
                <div class="align-self-center">Unit Price</div>
                <div class="d-inline-flex align-items-center"><h3><%= @product.price %></h3><p>SGD</p></div>
              </div>
            </li>

            <li class="list-group-item">
              <div class="d-flex justify-content-between">
                <div>Delivery speed</div>
                <div>Instant</div>
              </div>
            </li>

            <li class="list-group-item">
              <div class="d-flex justify-content-between">
                <div>Stock</div>
                <div>4</div>
              </div>
            </li>

            <li class="list-group-item">
              <div class="d-flex">
                <div class="p-2 align-self-center">+</div>
                <div class="p-2 flex-grow-1 shadow-lg p-2 m-2 bg-white rounded-3 text-center">1</div>
                <div class="p-2 align-self-center">-</div>
              </div>
            </li>

            <li class="list-group-item">
              <div class="d-flex justify-content-between">
                <div class="align-self-center">Price</div>
                <div class="d-inline-flex"><h3><%= @product.price %></h3><div>SGD</div></div>
              </div>
            </li>

            <li class="list-group-item">
              <div class="d-grid gap-2">
                <button type="button" class="p-2 mb-2 bg-danger text-white">Buy now</button>
              </div>
            </li>

            <li class="list-group-item">Shop securely with GamerProtect</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="g-screen-container bg-white">
  <h2 class="text-center">Other Sellers (0)</h2>
</div>
